#title {
    text-align: center !important;
    color: white;
}

#subtitle {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
}

#img-div {
    padding: 10px 30px 10px 30px;
}

#image {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#img-caption {
    font-size: 13px;
    padding: 0 0 10px 0;
    text-align: center;
}

#video-caption {
    font-size: 13px;
    text-align: center;
    border: 10px solid white;
}

.timeline-item {
    text-align: center;
}

.timeline-title {
    text-align: center !important;
    font-size: 18px;
    padding: 10px 0 10px 0;
}

.inspirational-quote {
    text-align: center;
    padding: 40px;
}

.footer {
    margin-top: 20px;
    padding: 50px;
}

.animated {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.fadeIn {
    -webkit-animation-name: 'fadeIn';
    animation-name: 'fadeIn';
}

iframe {
    flex-direction: row;
    width: 100%;
    flex: 2;
    padding: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    /* margin-bottom: 100px; */
}

@media (max-width: 900px) {
    .flex-container {
        display: block;
    }
}

@media (min-width: 901px) {
    .time-line-container {
        flex-grow: 2;
        width: 20%;
    }
}

.video-container {
    flex: 3;
    flex-direction: row;
}

.time-line-container {
    flex-grow: 2;
    max-width: 100%;
    align-content: center !important;
    text-align: center !important;
}